.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo, h1 {
  padding: 0;
  align-self: center;
}

.hero-img-container {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.TodayAPOD-info {
  position: absolute;

  align-self: center;
  color: black;
  background-color: hsl(0,0%,50%, .6);
  border: 2px solid blue;
  border-radius: 1rem;
  padding: 2rem 2rem;
}

.img-container {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-around;
  margin: 1rem;
}

.text {
  text-align: center;
}


