@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400&display=swap');
/* font-family: 'Ubuntu Mono', monospace; */

.header-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.header-logo, h1, p {
  padding: 0;
  margin: 0;
  align-self: center;
  font-family: 'Ubuntu Mono', monospace;
  z-index: 1;
}

.black-logo-cir {
  height: 12.5rem;
  width: 12.5rem;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(255,255,255,1) 35.3%, rgba(0,0,0,1) 15%);
  z-index: 0;
  position: absolute;
}

.hero-img-container {
  display: flex;
  flex-direction: row-reverse;
  background-color: black;
}

.TodayAPOD-info {
  color: white;
  height: 50%;
  width: 50%;
  margin: 0 auto;
  align-self: center;
  border-radius: 1rem;
  padding: 8rem 8rem;
  font-family: 'Ubuntu Mono', monospace;
}

.content {
  position: sticky;
  left: 100vw;
  top: 7vh;
  height: 28.125rem;
  width: 28.125rem;
  border-radius: 50%;
  border: .125rem solid white;
}

.img-container {
  display: flex;
  justify-content: center;
}

.text {
  width: 100%;
  text-align: center;
  font-family: 'Ubuntu Mono', monospace;
  margin: 0 auto;
  margin-top: 1rem;
}

.textL3 {
  width: 100%;
  text-align: center;
  font-family: 'Ubuntu Mono', monospace;
  margin: 0 auto;
  font-size: 2rem;
}

.image {
  margin: 2rem;
  padding: 2rem;
}

.image, img{
  border-radius: 2rem; 
  height: 34.125rem;
  width: 34.125rem;
  margin: 0 auto;
  align-self: center;
}

.img-date-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly ;
}

button {
  font-family: 'Ubuntu Mono', monospace;
  margin-left: 10px;

}

.date-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  height: 10rem;
  margin: 0;
  
}

.date-container h2 {
  color: white;
}

.date-container label {
  color: white;
}

.date-container input {
  margin-bottom: 1rem;
}

.date-btn {
  align-self: center;
}


.date-image {
  margin: 2rem;
  color: black;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
